.activities{
    display: flex;
    flex-direction: column;
    width: 25rem;
    gap: 3px;
    height: fit-content;
    padding: 1.6rem;
    background-color: #F8FBFE;
    border: 2px white solid;
    border-radius: 1rem;
}

.title{
    font-size: 1.2rem;
    font-weight: 700;
    color:black;
    margin-bottom: 1rem;
}
